# editor temp files
*~
*.swp

# python
venv/
__pycache__/

# sqlite
db.sqlite3

# node
*/frontend/node_modules/
*/frontend/dist/
*/backend/node_modules/
*/backend/dist/
*/node_modules/

*.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
